// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  background-color: #fceee3;
  background-size: 20px 1px;
}

p {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
}
